@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #00401A;
  --green-light: #22C55E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
